@model IEnumerable<wdws.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Putovanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojPutnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ukupnaCijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilesBodovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rezervisanaSobaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.klijentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VodicUkljucen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Putovanje.travelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojPutnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ukupnaCijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilesBodovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rezervisanaSobaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.klijentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VodicUkljucen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.reservationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.reservationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.reservationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
