@model IEnumerable<wdws.Models.Smjestaj>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrstaSmjestaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lokacijaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KontaktTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KontaktEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxKapacitet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CijenaSmjestaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaSmjestaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lokacijaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxKapacitet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaSmjestaja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.lodgingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.lodgingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.lodgingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
