@model wdws.Models.Soba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Soba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipSobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipSobe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kapacitetSobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kapacitetSobe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smjestaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smjestaj.lodgingID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.roomID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
